<div class="center hero-unit">

<p></p>
<p></p>
<p></p>

<h1>Welcome to Sample App</h1>

<h2>
  This is Home Page for the
  <a href="">
  Ruby on Rails Tutorial
  </a>

</h2>

  <%= link_to "Sign up now!", signup_path ,class:"btn btn-large btn-primary" %>
</div>

