<div class="content hero-unit">


<h1>Welcome to Sample App</h1>

<h2>
  This is Home Page for
</h2>

  <%= link_to "Sign up now!",'#',class:"btn-large btn-primary" %>
</div>

<%= link_to image_tag("rails.png", alt:"rails"),'http://rubyonrails.org/' %>